/* CSS Document */

body {
	margin: 0;
	padding: 0;
}

* { outline: none; }
.displayNones { display: none; }

#topBar {
	width: 750px;
	margin: 0 auto;
	position: relative;
	margin-top: 50px;
}

#controls {
	position: absolute;
	top: 0;
	right: 0;
}























#photoBoard {
	margin: 0 auto;
	width: 750px;
	position: relative;
}








#photoBoard img {
	float: left;
}